
.nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100vw;
    background-color: rgb(15, 15, 69);

}

.nav div {
    width: 250px;
    display: flex;
    justify-content: space-around;
}

.nav button {
    background-color: rgba(55, 103, 144, 0);
    border: none;
    color: white;
    font-size: xx-large;
    cursor: pointer;
}

.nav div button {
    background-color: rgb(28, 66, 113);
    border: none;
    color: white;
    font-size: larger;
    padding: 0.3rem;
    cursor: pointer;
    border-radius: 10px;
}